body {
    margin: 0;
    background-color: #ab88ff ;
    font-family: 'Mulish', sans-serif;
    
}

.header {
    width: 100%;
    height: 80px;
    background-color:#ab88ff;
    display: flex;
    justify-content:space-between ;
    align-items: centerS;
    
    


}

.header__img {
   width: 200px;
   margin: 10px;
}

.header__menu {
    margin-right: 30px;
}
.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}


.header__menu--profile {
    margin-right: 8px;
    
    display: flex;
    align-items: center;
}

.header__menu--profile img {
    margin: 8px;
    width: 40px;
    height: 40px;
}

.header__menu--profile p{
    margin:0px;
    color: white;
}

.header__menu:hover ul, ul:hover {
    display: block;

}

.header__menu li {
    margin: 10px 0px;
    

    
}

.header__menu li a {
    margin: 10px 0px;
    color: white;
    text-decoration: none;
    color: white;

    
}

.header__menu li a:hover{
    text-decoration: underline;
    
}


.buscador {
    height: 300px;
}

.buscador__title {
    color: white;
    font-size: 25px;
}

.input  {
    border: 2px solid  white;
    border-radius: 25px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

::placeholder {
    color: white;
}

.carrucel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}

.carrucel__container {
    white-space: nowrap;
    margin: 70px;
    padding-bottom:10px ;
}

.carrucel-item {
    background-color: thistle;
    width: 200px;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carrucel-item:hover ~ .carrucel-item:hover {
    transform: translate3d(100px, 0px, 0px);
}

.carrucel__container:hover .carrucel-item {
    opacity: 0.3;
}
.carrucel__container:hover .carrucel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carrucel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carrucel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9)0%, rgba(0, 0, 0, 0)100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}


.carrucel-item__details:hover {
    opacity: 1;
}