body {
    margin: 0px;
    
    font-family: 'Muli', sans-serif;
    
}
.header {
    background-color: #21C08B;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 200px;
    margin-left: 30px;
}


.login{
    background-color: #21C08B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.login__container{
    background-color: #99f3bd;
    border: 2px solid white;
    border-radius: 40px;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    -webkit-box-shadow: 9px 17px 33px 15px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 17px 33px 15px rgba(0,0,0,0.75);
    box-shadow: 9px 17px 33px 15px rgba(0,0,0,0.75);
}   

.login__container--form{
    display: felx;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--recordar {
  display: flex;
  justify-content: space-between;
    margin-top: 10px;
}
.login__container--recordar a {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.login__container--recordar a:hover {
    text-decoration: underline;
}

.login__container--social-media > div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 14px;
    text-decoration: none;
}

.login__container--register a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.login__container--register a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    outline: none;
    margin-bottom: 20px;
    padding: 0px 20px;
    height: 50px;
    width: 75%;
}

::placeholder {
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 16px;

}

.boton {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    cursor: pointer;
    width: 90%;
    height: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color:  #21C08B;
}

.footer a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding-left: 30px;
}