.box {
    width: 200px;
    height: 200px;
    background: indigo;
    padding: 200px;
    border: 2px solid #000;
    margin: 15px;
    
}

.box2 {
    width: 150px;
    height: 150px;
    background: rgb(0, 60, 255);
    padding: 200px;
    border: 2px solid #000;
    
}



body {
    margin: 0;
}